body {
    margin: 0;
    font-family: 'Roboto';
    color: #4f4d53;
}

.container {
    max-width: 50%;
    margin: auto;
    height: 100%;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 1300px) {
    .container {
        max-width: 65%;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 75%;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 90%;
    }
}